h2#heading {
    margin-left: 175px;
    font-style: italic;
    font-weight: 200;
    color: #1BE9D0;
}

h2#heading span {
    font-weight: 900;
}

h2#confirm-heading {
    margin-left: 175px;
    font-style: italic;
    font-weight: 200;
    color: #9EE91B;
}

h2#confirm-heading span {
    font-weight: 900;
}

div#links {
    margin-left: 175px;
}